<!DOCTYPE html>
<html>
<head>
  <title>Kremsier</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#body').keypress(function(e){
          if(e.keyCode==13)
          $('#btn').click();
        });
    });

    var rightA = "2413"
    var text = "chk.sklad@gmail.com\nsilencio"
    function on_click(){
      var v = $("#s1").val() + $("#s2").val() + $("#s3").val()+$("#s4").val()
      if(v === rightA){
        alert(text);
      }else{
        alert('Неправильный код')
      }

    }

  </script>

  <style type="text/css">
  input {
    text-align: center;
    size:40;
  }
  body {
      background-color: #669999; /* Цвет фона */
    }

    .center{
      margin: auto;
      display: table;

    }
    .centerV{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }

  </style>

</head>
<body id="body">

<div  class="center centerV">
  <div class="center">
    <select id = 's1'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id= 's2'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id= 's3'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id= 's4'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

  </div>
  <br>
  <button onclick="on_click()" class="center" id ="btn">Check</button>
</div>
</body>
</html>
